h1 {
    color: rgb(194, 0, 197);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
}

body{
    background-color: dimgray;
    width: 1280px;
    height: 720px;
}

button{
    background-color: aquamarine;
}
