h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: aquamarine;
}
