h1 {
    color: rgb(194, 0, 197);
    font: status-bar;
    position: absolute;
    left: 1000px;
    top: 50px;
}

body{
    background-color: rgb(60, 60, 60);
}

button{
    background-color: aquamarine;
}
